<div class="jumbotron node ">
    
   <div class="alert alert-info">
    {{ type }}
   </div>

   <div class="body">
    {{body}}
   </div>

   <div class="key">
    {{key}}
   </div>

   <div class="sourceType">
   {{sourceType}}
   </div>
   <div class="declarations">
   {{declarations}}
   </div>
   <div class="kind">
   {{kind}}
   </div>
   <div class="raw">
   {{raw}}
   </div>
   <div class="computed">
   {{computed}}
   </div>
   <div class="expression">
   {{expression}}
   </div>
   <div class="declaration">
   {{declaration}}
   </div>
   <div class="argument">
   {{argument}}
   </div>
   <div class="generator">
   {{generator}}
   </div>
   <div class="params">
   {{params}}
   </div>
   <div class="method">
   {{method}}
   </div>
   
   
   
   
   
    
</div>